@use "sass:map";
@use '../../node_modules/@rx1310/kalium19' as k19;


@-ms-viewport { width: device-width; }
@-o-viewport	{ width: device-width; }
@viewport			{ width: device-width; }

*,
*::before,
*::after {

	-webkit-touch-callout: none; // https://clck.ru/9HHvq

}

// * {
// 	@include k19.transition(
// 		background .5s, 
// 		box-shadow .4s,
// 		color .07s
// 	);
// }

*:focus-visible {
	outline: 1px solid var(--color-accent);
}

*::-webkit-scrollbar {
	width: 8px;
}

*::-webkit-scrollbar-track {
	background: var(--color-background);
}

*::-webkit-scrollbar-thumb {

	background-color: var(--color-accent);
	border: 1px solid var(--color-background);

}

// ::-moz-selection {
//   background: #86B0F3;
//   color: White;
//   text-shadow: none; 
// }
  
// ::selection {
//   background: #86B0F3;
//   color: White;
//   text-shadow: none;
// }

body {

	background: var(--color-background);
	color: var(--color-font);

	font: {
		family: $reset_font-family;
		size: $reset_font-size;
	}

	line-height: 22px;
	margin: 0;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-font-smoothing: antialiased;

	@include k19.prefixer(text-size-adjust, 100%, all); // https://clck.ru/NNamf
	@include k19.prefixer(user-select, none, all);

}

ul, ol {
	padding-left: 18px;
}

a {

	color: var(--color-accent);
	text-decoration: none;

	&:hover:not(.undecor),
	&:active:not(.undecor),
	&:focus:not(.undecor) {
		text-decoration: underline;
	}

}

blockquote {
	margin: 0;
	padding-left: 10px;
	border-left: 5px solid var(--color-accent);
}

pre {
	font: {
		family: $reset_font-family-monospace;
		size: 1em;
	}
}

abbr[title] {
	border-bottom: none;
	text: {
		decoration: underline;
		decoration: underline dotted;
	}
}

b,
strong { font-weight: bolder; }

code,
kbd,
samp {
	font: {
		family: $reset_font-family-monospace;
		size: 1em;
	}
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub { bottom: -0.25em; }
sup { top: -0.5em; }
small { font-size: 80%; }

img {

	border-style: none;
	overflow: none;
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
	object-fit: scale-down;

	@include k19.border-radius(8px);

}

button,
input,
optgroup,
select,
textarea {
	line-height: 1.15;
	margin: 0;
	font: {
		family: inherit;
		size: 100%;
	}
}

button,
input { overflow: visible; }

button,
select { text-transform: none; }

fieldset { padding: 0.35em 0.75em 0.625em; }
progress { vertical-align: baseline;			 }
textarea { overflow: auto;								 }
details	{ display: block;								 }
summary	{ display: list-item;						 }
template { display: none;									}

fieldset:disabled,
button:disabled {
	pointer-events: none;
}

legend {
	@include k19.box-sizing();
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

[type="checkbox"],
[type="radio"] {
	@include k19.box-sizing();
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

[hidden] { display: none !important; }

[disabled]:not([disabled="false"]) {

	pointer-events: none;
	cursor: not-allowed;

	@include k19.opacity(0.50);

}

h1, h2, h3, h4, h5, h6 {

	margin-bottom: 0.5rem;
	font-weight: bold;

}

h1 { font-size: $reset_font-size--h1; }
h2 { font-size: $reset_font-size--h2; }
h3 { font-size: $reset_font-size--h3; }
h4 { font-size: $reset_font-size--h4; }
h5 { font-size: $reset_font-size--h5; }
h6 { font-size: $reset_font-size--h6; }

hr {
	margin: 0;
	padding: 0;
	border: none;
	border-bottom: 1px solid var(--color-divider);
}