.header {

	background: var(--header_color-background);
	border-bottom: 1px solid rgba(0, 0, 0, 0.144);
	z-index: 999;

	&-title {
		font-size: $reset_font-size--h4;
	}

	&-description {
		@include k19.opacity(.9);
	}

	&-action {

		text-transform: lowercase;
		padding: .4em 1em;
		margin-bottom: 1.2em;
		display: inline-block;
		font-size: $reset_font-size--sm;
		border: 1px solid var(--color-divider);

		@include k19.border-radius(50px);
		@include k19.transition(
			color .3s,
			background .3s
		);

		&:hover {
			background: var(--nav-action_color-background--hover);
		}

		&:active,
		&:focus {
			background: var(--nav-action_color-background--active);
			border-color: var(--nav-action_color-background--active);
		}

	}

}