@import 'accent';

$themes: (

	light: (

		color-theme: #FFFFFF,
		color-accent: $color_accent-day,
		color-font: black,
		color-background: #FFFFFF,

		// * nav
		nav_color-background: #FBFBFB,
		nav_color-background--scrolled: white,
		nav-action_color-background--hover: fade-out($color_accent-day, .9),
		nav-action_color-background--active: fade-out($color_accent-day, .85),

    // * header
    header_color-background: #FBFBFB,

		// * card
		card_color-background: #FBFBFB,
		card_color-background--hover: fade-out($color_accent-day, .9),
		card_color-background--active: fade-out($color_accent-day, .7)

	),

	dark: (

		color-theme: #050505,
		color-accent: $color_accent-night,
		color-font: #F7F9F8,
		color-background: #050505,

		// * nav
		nav_color-background: #17181C,
		nav_color-background--scrolled: #17181C,
		nav-action_color-background--hover: fade-out($color_accent-night, .9),
		nav-action_color-background--active: fade-out($color_accent-night, .85),

    // * header
    header_color-background: #17181C,

		// * card
		card_color-background: #17181C,
		card_color-background--hover: fade-out($color_accent-night, .6),
		card_color-background--active: fade-out($color_accent-night, .8)

	)

);