.action {

	$size: 38px;

	width: $size;
	height: $size;
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
	color: var(--color-font);
	text-decoration: none;
	background: transparent;
	border: none;
	cursor: pointer;

	&_accent {
		color: var(--color-accent);
	}

	@include border-radius(50%);

	&:hover,
	&:focus {
		background: var(--nav-action_color-background--hover);
	}

	&::before:hover {
		display: block;
		width: $size;
		height: $size;
		content: '';
		position: absolute;
		top: 0;
	}

	&:active {
		background: var(--nav-action_color-background--active);
		color: var(--color-accent);
	}

	@include transition(
		background .3s ease-in-out,
		color .3s ease-in-out
	);

	&:first-child {
		margin-left: -5px;
	}

	&:last-child {
		margin-right: -5px;
	}

}