table {

  color: inherit;
  border-spacing: 0;
  width: 100%;
	border: 2px solid var(--color-divider);
	background: var(--table_color-background);

	@include border-radius();
  
  th,
  td {
    padding: 0.75em;
    vertical-align: top;
    border-top: 1px solid var(--color-divider);
  }

  th { text-align: inherit; }

  thead th {
    vertical-align: bottom;
    border-bottom: 1px solid var(--color-divider);
    border-top: none;
  }

	thead th,
	tbody td {
		padding: .6em .8em;
	}

	tbody tr:hover,
	tbody tr:active,
	tbody tr:focus {
		background: var(--table-tr_color-background--hover);
	}

}