<script>
	function scroll2top() {
		window.scroll({
			top: 0, 
			left: 0, 
			behavior: 'smooth' 
		});
	}
</script>

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-6 mb-4 mt-4">
				<center>
					<button class="scroll2top" onclick="scroll2top()" title="К началу страницы" aria-label="Переход к началу страницы">
						<span class="material-icons">vertical_align_top</span>
					</button>
				</center>
			</div>
		</div>
	</div>
</footer>