<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-6">
				<div class="header-container">
					<h1 class="header-title">{{ header.title }}</h1>
					<p class="header-description">{{ header.description }}</p>
				</div>
			</div>
		</div>
	</div>
</header>