<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="header__container">
          <div class="header__org">
            <img class="header__org__logo" src="https://avatars.githubusercontent.com/u/91287868?s=200&v=4" alt="">
            <a href="https://{{ social.GitHub }}" class="header__org__name">91muilak</a>
          </div>
          <h3 class="header__title">{{ header.title }}</h3>
          <p class="header__description">{{ header.description }}</p>
        </div>
      </div>
    </div>
  </div>
</header>