<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="header__container">
          {% if header.showOrgBlock == true %}
            <div class="header__org">
              <img class="header__org-logo" src="https://avatars.githubusercontent.com/u/91287868?s=200&v=4" alt="">
              <a href="https://{{ social.GitHub }}/{{ header.org }}" class="header__org-name">91muilak/<b>{{ header.org }}</b></a>
            </div>
          {% endif %}
          <h1 class="header__title">{{ header.title }}</h1>
          <p class="header__description">{{ header.description }}</p>
        </div>
      </div>
    </div>
  </div>
</header>