<!DOCTYPE html>
<html lang="ru">
	<head>
		{% include "head.njk" %}
	</head>
	<body>
		
		{% include "nav.njk" %}
		{% include "header.njk" %}

		<br>

		<main>
			<div class="container">
				<div class="row">

					{% if mixins %}
						<div class="col-6 mb-4 col-md-3 col-lg-2">
							<div class="card">
								<header class="card-header">
									<h5 class="mi"><span class="material-icons">folder</span>Миксины</h5>
								</header>
								<div class="card-body">
									<p>Миксины позволяют генерировать шаблонный код любой величины, избавляя разработчика от самостоятельного прописывания этого кода.</p>
								</div>
								<hr>
								<ul class="list">
									{% for id, obj in mixins %}
										<li class="list-item">
											<b class="mi"><span class="material-icons">article</span> {{ obj.name }}</b>
											<small>{{ obj.desc }}</small>
											<a href="docs/mixin/{{ id }}" aria-label="Миксин {{ obj.name }}"></a>
										</li>
									{% endfor %}
								</ul>
								<footer class="card-footer">
									<p class="mi"><span class="material-icons">web</span><a href="docs/template">template.md</a></p>
								</footer>
							</div>
							
						</div>
					{% endif %}

					{% if utils %}
						<div class="col-6 mb-4 col-md-3 col-lg-2">

							<div class="card">
								<header class="card-header">
									<h5 class="mi"><span class="material-icons">folder</span>Утилиты</h5>
								</header>
								<div class="card-body">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, veritatis officia repudiandae numquam ab sint optio fugit delectus consectetur quod quam qui modi laudantium, assumenda corrupti dolorum, veniam dicta autem!</p>
								</div>
								<hr>
								<ul class="list">
									{% for id, obj in utils %}
										<li class="list-item">
											<b class="mi"><span class="material-icons">article</span> {{ obj.name }}</b>
											<small>{{ obj.desc }}</small>
											<a href="docs/util/{{ id }}"></a>
										</li>
									{% endfor %}
								</ul>
								<footer class="card-footer">
									<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
								</footer>
							</div>

						</div>
					{% endif %}

				</div>
			</div>
		</main>

	</body>
</html>